header 
    .header-postition
        h1.logo AP

        nav.site-nav
            ul 
                li: a(href="#") F
                li: a(href="#") T
                li: a(href="#") IN

        h3.vert-text APOLLO
        
        .search-icon 
            h3 S

        hr

        .mobile-nav-toggle: span